.orange {
  color: orange;
}

.profile {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: 27px 24px 43px -7px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 27px 24px 43px -7px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 27px 24px 43px -7px rgba(0, 0, 0, 0.63);
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.avatar{
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.new{
  position: absolute;
  left: 70%;
  background-color: aquamarine;
  padding: 0 5px 5px;
  border-radius: 40%;
}

.container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner{
  display: flex;
  justify-content: center;
  background-color: rgb(255, 204, 0);
  font-weight: bold;
  width:50%;
}

.counters{
  width: 50%;
}
.calculate{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(255, 204, 0);
  border-radius: 10px;
  margin:20px 0;
  width: 100%;
  padding: 20px 0;
}

.calculate:hover{
  background-color:rgb(255, 255, 205);
}

.num{
  font-size: 60px;
}

.btn{
  font-weight: bold;
  border: 1px solid gray;
  border-radius: 4px;
  background:linear-gradient(90deg,rgb(255, 204, 0),rgb(255, 255, 205))
}

.total{
  font-size: 1rem;
}